.project_three {
  display: flex;
  align-items: center;
}

.graphics_three {
  max-width: 50rem;
  overflow: hidden;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
  transition: 0.2s;
  &:hover {
    box-shadow: 15px 20px 0px 0px rgba(#222222, 0.5);
  }
}
.project_photo_three {
  padding-top: 1rem;
  transform: scale(180%);
}

.copy_project_three {
  margin-left: 3rem;
  p {
    margin-top: 1rem;
  }
}

.copy_headline_three {
  color: #fff;
  font-size: var(--xl-font-size);
}

.copy_description_three {
  font-size: var(--h3-font-size);
}

@media screen and (max-width: 1300px) {
  .graphics_three {
    max-width: 40rem;
  }
}

@media screen and (max-width: 1024px) {
  .copy_project_three {
    margin: 0;
  }
  .project_three {
    flex-direction: column;
  }
  .copy_headline_three {
    margin-top: 1.5rem;
    font-size: var(--l-font-size);
  }
}
