.project_header {
  display: flex;
  flex-direction: column;

  margin: 10rem 0 10rem 0;

  hr {
    width: 5rem;
    height: 0.3rem;
    background-color: #1345ba;
    border: none;
  }
}

.headline {
  font-size: var(--xxl-font-size);
  font-weight: var(--font-bold);
  background: #1345ba;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #1345ba 0%, #4f73c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_headline {
  font-size: var(--h2-font-size);
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: var(--h1-font-size);
  }
  .sub_headline {
    font-size: var(--normal-font-size);
  }
}
