.graphics_two {
	flex: 1;
	overflow: hidden;
	border-radius: var(--default-border-radius);
	box-shadow: var(--default-box-shadow);
	transition: 0.2s;

	&:hover {
		scale: 101%;
		box-shadow: -15px 20px 0px 0px rgba(#8aa18e, 0.5);
	}
}

.project_two_photo {
	padding-top: 1.7rem;
	object-fit: contain;
	scale: 120%;
}

.project_two {
	display: flex;
	align-items: center;
}

.copy_project_two {
	flex: 1;
	margin-right: 3rem;
	p {
		margin-top: 1rem;
	}
}

.copy_headline_two {
	color: #fff;
	font-size: var(--xl-font-size);
}
.copy_description_two {
	font-size: var(--h3-font-size);
}

@media screen and (max-width: 1300px) {
	.graphics_two {
		max-width: 40rem;
	}
}

@media screen and (max-width: 1024px) {
	.copy_project_two {
		margin: 0;
	}
	.project_two {
		flex-direction: column-reverse;
	}
	.copy_headline_two {
		margin-top: 1.5rem;
		font-size: var(--l-font-size);
	}
}

@media screen and (max-width: 768px) {
}
