.contactSection{
    padding: 5rem 10% 5rem 10%;
    margin-left: -10%;
    margin-right: -10%;
    background-color: var(--complementary-color-1);
    box-shadow: inset 0px 0px 5rem 0px rgba(0,0,0,0.75);
}

