.HomeSection {
    padding-top: calc(var(--header-height));
    min-height: calc(100vh - var(--header-height)) !important;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media screen and (max-width: 768px) {
    .homeContainer{
        padding-bottom: var(--header-height);
    }
}