.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  color: var(--mid-gray);
  background-color: transparent;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  i {
    cursor: pointer;
  }

  .leftMail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .fa-envelope {
      font-size: 1.5rem;
    }
  }
}

.nav_list {
  color: var(--mid-gray);
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    transition: 0.2s;
    &:hover {
      color: #fff;
    }
  }

  .hireMeButton {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}

.nav_toggle,
.close_button {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav_list_div {
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    z-index: var(--z-modal);

    padding: 2rem;
    position: fixed;
    height: 100vh;
    right: -20rem;
    top: 0;
    font-weight: var(--font-bold);
    background-color: var(--hamburguer-menu-background-color);
    p,
    button {
      display: none;
    }
  }
  .nav_list {
    font-size: var(--h2-font-size);
    padding: 3rem;
    align-items: start;
    gap: 0.5rem;
    flex-direction: column;
  }
  .nav_toggle,
  .close_button {
    display: block;
  }

  .mail {
    display: none;
  }

  .isShown {
    right: 0;
  }
}
