.mastHead {
  max-width: 50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  .profileImage {
    border-radius: 50%;
  }
}

.topName {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
}

.mainTitle {
  line-height: 3.6rem;
  font-size: var(--xl-font-size);
  font-weight: var(--font-bold);
  color: var(--var-title-color-inv);
}

@media screen and (max-width: 768px) {
  .profileImage {
    width: 8rem;
  }
  .topName {
    font-size: var(--normal-font-size);
  }
  .mainTitle {
    text-align: center;
    font-size: var(--h1-font-size);
    line-height: normal;
  }
}
