:root {
  --project-phone-width: 32rem;
  --project-phone-1300px-width: 30rem;
  --project-phone-1024px-width: 20rem;
  --project-phone-1024px-height: 35rem;
  --project-phone-margin-right: 6rem;
  --description-margin-top: 2rem;
  --description-margin-top-mobile: 1rem;
}

.copy_headline {
  color: #fff;
  font-size: var(--xxl-font-size);
}
.copy_description {
  font-size: var(--h2-font-size);
  margin-top: var(--description-margin-top);
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: var(--description-margin-top);
  i {
    font-size: var(--h1-font-size);
  }
}

.gradient {
  display: none;
  z-index: 4;
  height: 30%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, transparent, var(--main-color));
}

.project_one_container {
  margin: 5rem 0 5rem 0;
  display: flex;
  align-items: center;
}

.project_phone {
  width: var(--project-phone-width);
  margin-right: var(--project-phone-margin-right);
  position: relative;
}

@media screen and (max-width: 1300px) {
  .project_phone {
    width: var(--project-phone-1300px-width);
  }
}

@media screen and (max-width: 1024px) {
  .project_phone {
    width: var(--project-phone-1024px-width);
  }
}

@media screen and (max-width: 768px) {
  .copy_headline {
    margin-top: -2.5rem;
    font-size: var(--h1-font-size);
  }
  .copy_description {
    font-size: var(--h3-font-size);
    margin-top: var(--description-margin-top-mobile);
  }
  .links {
    justify-content: center;
  }

  .gradient {
    margin: 0;

    display: block;
  }
  .project_phone {
    overflow: hidden;
    margin: 0;
    width: var(--project-phone-1024px-width);
    height: var(--project-phone-1024px-height);
  }
  .project_one_container {
    flex-direction: column;
  }
}
